Package: __PACKAGE_NAME__
Version: __PACKAGE_VERSION__
Section: science
Priority: optional
Architecture: all
Depends:
  debconf (>= 0.2.26),
  curl,
  sudo,
  libpq-dev,
  software-properties-common,
  openjdk-11-jre-headless,
  apache2,
  php,
  php-common,
  libapache2-mod-php,
  php-curl,
  libcurl4-openssl-dev,
  libssl-dev,
  libxml2-dev
Recommends: postgresql-__POSTGRESQL_VERSION__
Maintainer: AKTIN IT <it-support@aktin.org>
Homepage: https://www.aktin.org/
Description: I2B2 Installation for the AKTIN Emergency Department Data Warehouse
 This package installs and configures the i2b2 (Informatics for Integrating Biology
 and the Bedside) framework customized for the AKTIN Emergency Department Data
 Warehouse. It includes:
  - Setup scripts and configuration files for i2b2 deployment.
  - Automated installation of WildFly application server and PostgreSQL database.
  - Deployment of the i2b2 web client for data access.
 .
