Package: __PACKAGE_NAME__
Version: __PACKAGE_VERSION__
Section: science
Priority: optional
Architecture: all
Depends: debconf (>= 0.2.26), apache2, postgresql, openjdk-11-jre-headless, php, php-common, php-curl, libapache2-mod-php, libcurl4-openssl-dev, libpq-dev, libssl-dev, libxml2-dev, software-properties-common, sudo, curl
Maintainer: AKTIN IT <it-support@aktin.org>
Homepage: https://www.aktin.org/
Description: I2B2 Installation for the AKTIN Emergency Department Data Warehouse
 This package installs and configures the i2b2 (Informatics for Integrating Biology
 and the Bedside) framework customized for the AKTIN Emergency Department Data
 Warehouse.
